body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-variant-numeric: tabular-nums;
  background-color: #1f1f1f;
  color: #ffffff;
  color-scheme: dark;
  line-height: 1.5;
  font-size: 14px;
  min-width: 1000px;
}

header, 
footer{
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  gap: 16px;
  margin: 16px;
  pointer-events: none;
}

header {
  top: 0;
  align-items: flex-start;
}

footer {
  bottom: 0;
  align-items: flex-end;
}

main {
  height: 100vh;
}

section {
  background-color: #343a40;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #495057;
  border-radius: 8px;
  padding: 16px;
  pointer-events: all;
}

header > section:nth-child(1) {
  flex-basis: 320px;
}

header > section:nth-child(2) {
  flex: 1;
}

footer > section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.charts {
  display: flex;
  gap: 16px;
}

.charts > * {
  flex: 1;
}

h1 {
  margin: 0;
  font-size: 20px;
  font-weight: semibold;
  line-height: 1.2;
}

h2 {
  margin: 0;
  font-size: 16px;
  font-weight: semibold;
  line-height: 1.2;
  text-transform: capitalize;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset label {
  display: block;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

.tooltip {
  position: absolute;
  background-color: #343a40;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #495057;
  border-radius: 4px;
  padding: 8px;
  pointer-events: none;
  z-index: 1;
}

.tooltip table td:last-child {
  text-align: right;
  padding-left: 4px;
}

.bubble-map .land {
  fill: #292929;
}

.bubble-map .borders {
  fill: none;
  stroke: #3d3d3d;
}

.bubble-map .bubble {
  fill-opacity: 0.5;
  stroke: #b3b3b3;
  cursor: pointer;
}

.bubble-map .bubble:hover {
  stroke: #fff;
}

.multi-line text,
.stacked-area text {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  fill: currentColor;
}

.multi-line .date-line,
.multi-line .highlight-line,
.stacked-area .date-line,
.stacked-area .highlight-line {
  stroke: #fff;
  stroke-dasharray: 3;
  stroke-width: 2px;
}

.multi-line .highlight-circle,
.stacked-area .highlight-circle {
  stroke: #fff;
  stroke-width: 2px;
}

.multi-line .axis-title {
  text-transform: capitalize;
}

.multi-line .line {
  fill: none;
  stroke-width: 2px;
}

.color-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.color-legend .legend-item::before {
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  background-color: currentColor;
  margin-right: 0.25em;
}
